*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #051d16;
    font-size: 12px;
}
.conatiner-header-img{
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url(/src/assets/img/imgHeader.png);
    background-size: cover;
    background-position: center;
    }

@media screen and (max-width: 480px) {

    .conatiner-header-img{
        height: 100px;
        width: 100%; 
        }

.logo{
    position: absolute;
    top: 10px;
    width: 154px;
    height: 76px;
    left: 190px;
    
}
.input__change{
    position: relative;
     margin-top: 65px;
     margin-left: 80px;
    
     
}
input{
    width: 280px;
    height: 25px;
}

.location__card{
   position:absolute;
    width: 400px;
    height: auto;
    left: 45px;
    top: 100px;
    background: #062226;
    color: #FFFFFF;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    display: flex;
    gap: 5px;
    
}
.tittle__card{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 28px
   
    }
.text__card{
    width: auto;
    height: auto;
    margin-left: 20px;
    font-size: 8px;
    line-height: 21px;
    margin-bottom: 5px;
}   

.container__cards{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 25px;
    gap: 15px;
}
.card__resident{
    background-color: #062226;
    margin-bottom: 10px;
    color: #FBFBFB;
    width: 85%;
    left: 0;
}
.img__resident{
    width: 100%;
    margin-bottom: 0.5rem;
}
.circle {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        
    }
.resident__name{
    margin-top: 10rem;
    font-size: 1rem;
    margin-left: 1rem;
    }
.status{
    display: flex;
    margin-bottom: 0.2rem;
    font-size: .7rem;
    position: relative;
    margin-top: -10rem;
    background-color: black;
    height: 1.2rem;
    width: 5rem;
    gap: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 12px;

    
}
.clear{
    color: grey;
    font-size: 0.7rem;
    margin-left: 1rem;
   
}
.dark{
    font-size: 0.8rem;
    margin-left: 1rem;
   
}

}
@media screen and (min-width: 768px)  {
    .conatiner-header-img{
        height: 200px;
        width: 100%; 
        }
    
    .logo{
        position: absolute;
        top: 15px;
        width: 254px;
        height: 106px;
        left: 280px;
   
}
.input__change{
    position: relative;
     margin-top: 135px;
     margin-left: 180px;
    
     
}
input{
    width: 380px;
    height: 35px;
}
.location__card{
        position:absolute;
        width: 620px;
        height: auto;
        left: 76px;
        top: 220px;
        background: #062226;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        display: flex;
        gap: 25px;
}

.tittle__card{
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    margin-right: 1px;
   
    }
.text__card{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
   }  

   .container__cards{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 130px;
    margin-left: 75px;
    margin-right: 25px;
    gap: 1px;
}
.card__resident{
    background-color: #062226;
    margin-bottom: 10px;
    color: #FBFBFB;
    width: 85%;
    left: 0;
}
.img__resident{
    width: 100%;
    margin-bottom: 0.5rem;
}
.circle {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        
    }
.resident__name{
        margin-top: 15rem;
       font-size: 1.2rem;
        margin-left: 1rem;
    }
.status{
    display: flex;
    
    font-size: .7rem;
    position: relative;
    margin-top: -17rem;
    background-color: black;
    height: 1.2rem;
    width: 5rem;
    gap: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 12px;

    
}
.clear{
    color: grey;
    font-size: 0.8rem;
    margin-left: 1rem;
   
}
.dark{
    font-size: 1.1rem;
    margin-left: 1rem;
   
}
}


@media screen and (min-width: 1665px) {
    .conatiner-header-img{
        height: 250px;
        width: 100%;
 }
    
    .logo{
        position: absolute;
        top: 15px;
        width: 550px;
        height: 256px;
        left: 680px;
    }

.input__change{
    position: relative;
     margin-top: 250px;
     margin-left: 380px;
   
}
input{
    width: 780px;
    height: 50px;
    font-size: 1.5rem;
}
button{
    font-size: 1.5rem;
}
.location__card{
        position:absolute;
        width: 1350px;
        height: 80px;
        margin-left: 84px;
        margin-right: 150px;
        top: 380px;
        background: #062226;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        display: flex;
        gap: 90px;
}

.tittle__card{
    font-size: 28px;
    line-height: 30px;
    margin-left: 40px;
    margin-right: 1px;
    margin-top: 1.5px;
   
    }
.text__card{
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
   }  

   .container__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 150px;
    gap: 1px;
    
}
.card__resident{
    background-color: #062226;
    margin-bottom: 10px;
    color: #FBFBFB;
    width: 95%;
    left: 0;
}
.img__resident{
    width: 100%;
    margin-bottom: 0.5rem;
}
.circle {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        
    }
.resident__name{
        margin-top: 1rem;
       font-size: 1.6rem;
        margin-left: 1rem;
    }
.status{
    margin-top: -280px;    
    font-size: 1.1rem;
    position:absolute;
    background-color: black;
    height: 2rem;
    width: 7rem;
    gap: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 12px;

    
}
.clear{
    color: grey;
    font-size: 1rem;
    margin-left: 1rem;
   
}
.dark{
    font-size: 1.5rem;
    margin-left: 1rem;
   
}
}
