*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #051d16;
    font-size: 12px;
}

@media screen and (max-width: 480px) {

.imgHeader{
    
    width: min(100%, 480px);
    height: auto;
    left: 0px;
    top: 0px;
}
.logo{
    position: absolute;
    top: 15px;
    width: 154px;
    height: 76px;
    left: 180px;
    
}
.input__change{
    position: relative;
     margin-top: -35px;
     margin-left: 70px;
    
     
}
input{
    width: 280px;
    height: 25px;
}

.location__card{
   position:absolute;
    width: 400px;
    height: auto;
    left: 45px;
    top: 150px;
    background: #062226;
    color: #FFFFFF;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    display: flex;
    gap: 5px;
    
}
.tittle__card{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px
   
    }
.text__card{
    width: auto;
    height: auto;
    margin-left: 20px;
    font-size: 10px;
    line-height: 21px;
    margin-bottom: 5px;
}   

.container__cards{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 25px;
    gap: 5px;
}
.card__resident{
    background-color: #062226;
    margin-bottom: 10px;
    color: #FBFBFB;
    width: 190px;
    left: 0;
}
.img__resident{
    width: 100%;
    margin-bottom: 0.5rem;
}
.circle {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        
    }
.resident__name{
        margin-top: 10rem;
       font-size: 1.2rem;
        margin-left: 1rem;
    }
.status{
    display: flex;
    margin-bottom: 0.2rem;
    font-size: .7rem;
    position: relative;
    margin-top: -12rem;
    background-color: black;
    height: 1.2rem;
    width: 5rem;
    gap: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 12px;

    
}
.clear{
    color: grey;
    font-size: 0.8rem;
    margin-left: 1rem;
   
}
.dark{
    font-size: 1.1rem;
    margin-left: 1rem;
   
}

}
@media screen and (min-width: 768px)  {
    .imgHeader{
        width: min(100%, 765px);
        height: auto;
        left: 0px;
        top: 0px;
    }
    .logo{
        position: absolute;
        top: 15px;
        width: 254px;
        height: 106px;
        left: 280px;
   
}
.input__change{
    position: relative;
     margin-top: -35px;
     margin-left: 200px;
   
}
input{
    width: 380px;
    height: 25px;
}
.location__card{
        position:absolute;
        width: 600px;
        height: auto;
        left: 95px;
        top: 220px;
        background: #062226;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        display: flex;
        gap: 25px;
}

.tittle__card{
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    margin-right: 1px;
   
    }
.text__card{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
   }  

   .container__cards{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 150px;
    margin-left: 75px;
    margin-right: 25px;
    gap: 1px;
}
.card__resident{
    background-color: #062226;
    margin-bottom: 10px;
    color: #FBFBFB;
    width: 85%;
    left: 0;
}
.img__resident{
    width: 100%;
    margin-bottom: 0.5rem;
}
.circle {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        
    }
.resident__name{
        margin-top: 15rem;
       font-size: 1.2rem;
        margin-left: 1rem;
    }
.status{
    display: flex;
    
    font-size: .7rem;
    position: relative;
    margin-top: -17rem;
    background-color: black;
    height: 1.2rem;
    width: 5rem;
    gap: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 12px;

    
}
.clear{
    color: grey;
    font-size: 0.8rem;
    margin-left: 1rem;
   
}
.dark{
    font-size: 1.1rem;
    margin-left: 1rem;
   
}
}
@media screen and (min-width: 1665px) {
    .imgHeader{
        width: 100%;
        
    }
    .logo{
     
   
}
.input__change{
    position: relative;
     margin-top: -35px;
     margin-left: 200px;
   
}
input{
    width: 380px;
    height: 25px;
}
.location__card{
        position:absolute;
        width: 600px;
        height: auto;
        left: 95px;
        top: 220px;
        background: #062226;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        display: flex;
        gap: 25px;
}

.tittle__card{
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    margin-right: 1px;
   
    }
.text__card{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
   }  

   .container__cards{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 150px;
    margin-left: 95px;
    margin-right: 25px;
    gap: 1px;
}
.card__resident{
    background-color: #062226;
    margin-bottom: 10px;
    color: #FBFBFB;
    width: 75%;
    left: 0;
}
.img__resident{
    width: 100%;
    margin-bottom: 0.5rem;
}
.circle {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        
    }
.resident__name{
        margin-top: 15rem;
       font-size: 1.2rem;
        margin-left: 1rem;
    }
.status{
    display: flex;
    
    font-size: .7rem;
    position: relative;
    margin-bottom: 30rem;
    background-color: black;
    height: 1.2rem;
    width: 5rem;
    gap: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 12px;

    
}
.clear{
    color: grey;
    font-size: 0.8rem;
    margin-left: 1rem;
   
}
.dark{
    font-size: 1.1rem;
    margin-left: 1rem;
   
}
}
